*{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}
body{
    background-color: hsl(30, 38%, 92%);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
}
#mobile{
    display: none;
}
.container{
    width: 640px;
    display:flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.content{
    padding: 30px;
}
img{
    width: 320px;
    border-radius: 10px 0 0 10px;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    padding: 10px 30px;
    border-radius: 8px;
}
#tag{
    color: white;
    margin-left: 10px;
    font-weight: 700;
}
.price{
    display: flex;
    margin: 20px 0;
}
.actual{
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    color: hsl(158, 36%, 37%);
}
.previous{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
.catagory{
    color: hsl(228, 12%, 48%);
    letter-spacing: 2px;
}
.title{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Fraunces',sans-serif;
    margin: 10px 0;
    color:hsl(212, 21%, 14%);
}
.info{
    color: hsl(228, 12%, 48%);
    font-size: 16px;
}
@media (max-width:650px) {
    img{
        display:none;
    }
    .container{
        width:90%;
        flex-direction: column;
    }
    #mobile{
        display: inline;
        width:100%;
        border-radius: 10px 10px 0 0;
    }
}